.product-detail {
  text-align: center;
}

.product-detail img {
  width: 50%;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #00695c;
  padding: 4px;
}

.active {
  background-color: #00695c;
}
