<%- include("partials/head.ejs") %>
<main>

    <%- include("partials/navigation.ejs") %>
    <div class="h-screen flex justify-center items-center flex-col gap-4 ">
        <h1 class="text-3xl tracking-wider uppercase">Page Not Found</h1>
        <a href="/" class="border-2 border-green-500 p-2 rounded hover:bg-green-500 hover:text-gray-100 duration-100">Back
            To
            Home</a>
    </div>
</main>
<%- include("partials/end.ejs") %>