<%- include("../partials/head.ejs") %>
<link rel="stylesheet" href="/css/product.css" />

<body>
  <%- include("../partials/navigation.ejs") %>

  <main>
    <h1>Nothing On There</h1>
    <!-- <% if(false){ %>
    <h1>foo</h1>
    <% } %> <% if(true){ %>
    <h1>Hello world</h1>
    <% } %> -->
  </main>
</body>
<%- include("../partials/end.ejs") %>
